.blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #2b2525;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    transition: all 0.3s;
    height: 400px;
  }
  
  @media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      margin: 180px auto;
    }
  
    .blog-slider__item {
      flex-direction: column;
    }
  
    .blog-slider__img {
      transform: translateY(-50%);
      width: 90%;
    }
  
    .blog-slider__content {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .blog-slider__img {
      width: 95%;
    }
  
    .blog-slider__content {
      padding: 0;
    }
  
    .blog-slider__button {
      width: 100%;
    }
  }
  
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px;
    }
  
    .blog-slider__img {
      height: 270px;
    }
  }
  
  .blog-slider__item {
    display: flex;
    align-items: center;
  }
  
  .blog-slider__img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    transform: translateX(-60px); 
  }
  
  .blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transition: all 0.3s;
    opacity: 0;
  }
  
  .blog-slider__content {
    padding-right: 25px;
    opacity: 0.5;
  }
  
  .blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__img img,
  .blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content > * {
    transition-delay: calc(0.1s * var(--i));
  }
  
  .blog-slider__code {
    color: #7b7b85;
    margin-bottom: 15px;
    font-weight: 500;
  }
  
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #b0a8e2;
    margin-bottom: 20px;
  }
  
  .blog-slider__text {
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 1.5em;
  }
  
  .blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
  .blog-slider .swiper-pagination-custom,
  .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    width: 100%;
    left: 0;
  }
  
  .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px; /* Ensure pagination is on the right */
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 40%; /* Move it up by reducing the percentage */
    bottom: auto !important;
    transform: translateY(-50%);
  }
  
  @media screen and (max-width: 768px) {
    .blog-slider__pagination {
      transform: translateX(-50%);
      left: 50% !important;
      top: 40%; /* Move it up by reducing the percentage */
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  .blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
  }
  
  .blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fd3838;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
  }
  
  @media screen and (max-width: 768px) {
    .blog-slider__pagination .swiper-pagination-bullet-active {
      height: 11px;
      width: 30px;
    }
  }
  