@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #fc7f09;
  --primary-color-light: #18181b;
  --primary-color-dark: #db6e09;
  --text-dark: #ffffff;
  --text-light: #a1a1aa;
  --max-width: 1200px;
}

body.dark-mode {
  --primary-color: #fc7f09;
  --primary-color-light: #fffcfa;
  --primary-color-dark: #db6e09;
  --text-dark: #18181b;
  --text-light: #6b7280;
  --white: #ffffff;
  --white: #18181b;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.draggable-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.draggable {
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: grab;
  user-select: none; /*Z-index:1*/
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.logo a span {
  color: var(--text-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  background-color: var(--primary-color-light);
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color-light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--primary-color);
}

.nav__links a:hover {
  color: var(--text-dark);
}

.nav__btn {
  display: none;
}

.header__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header__image img {
  max-width: 600px;
  margin-inline: auto;
  background-image: url("../images/food.png");
}



.header__content h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  color: var(--text-dark);
  text-align: center;
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__content .section__description {
  margin-bottom: 2rem;
}

.header__btn {
  text-align: center;
}

.explore__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.explore__image img {
  max-width: 400px;
  margin-inline: auto;
  filter: drop-shadow(0 0 50px rgba(252, 127, 9, 0.4));
}

.explore__content .section__description {
  margin-bottom: 2rem;
}

.explore__btn {
  text-align: center;
}

.banner__container {
  display: grid;
  gap: 1rem;
}

.banner__card {
  padding: 2rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  transition: 0.3s;
}

.banner__card:hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.banner__card .banner__icon {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 11px;
  font-size: 2rem;
  color: var(--white);
  border-radius: 1rem;
}

.banner__card:nth-child(1) .banner__icon {
  background-color: #62b15c;
  box-shadow: 5px 5px 30px #62b15cd0;
}

.banner__card:nth-child(2) .banner__icon {
  background-color: #ff3e67;
  box-shadow: 5px 5px 30px #ff3e67d0;
}

.banner__card:nth-child(3) .banner__icon {
  background-color: #185adb;
  box-shadow: 5px 5px 30px #185adbd0;
}

.banner__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.banner__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.banner__card a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 500;
  color: var(--primary-color);
}

.banner__card a span {
  font-size: 1.25rem;
  transition: 0.3s;
}

.banner__card a:hover span {
  transform: translateX(10px);
}

.chef {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.chef__bg {
  position: absolute;
  z-index: -1;
  max-width: 275px;
  left: -4rem;
  bottom: -2rem;
}

.chef__container {
  padding-bottom: 10rem;
  display: grid;
  gap: 2rem;
}

.chef__content .section__description {
  margin-bottom: 1rem;
}

.chef__image {
  position: relative;
  isolation: isolate;
}

.chef__image img {
  max-width: 500px;
  border-radius: 100%;
  margin-inline: auto;
}

/* .chef__image::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  max-width: 500px;
  background-color: red;
  border-radius: 100%;
  z-index: -1;
} */

.chef__list {
  display: grid;
  gap: 0.5rem;
}

.chef__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  color: var(--text-dark);
}

.chef__list li span {
  font-size: 1.5rem;
}

.chef__list li:nth-child(1) span {
  color: orange;
}
.chef__list li:nth-child(2) span {
  color: orange;
}
.chef__list li:nth-child(3) span {
  color: orange;
}

.client__container {
  padding-top: 0;
}

.client__container :is(.section__header, .section__description) {
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
}

.client__swiper {
  margin-top: 2rem;
  max-width: 750px;
  margin-inline: auto;
  padding: 3rem 1rem;
  overflow: hidden;
  border: 2px solid rgba(252, 127, 9, 0.5);
  box-shadow: 5px 5px 30px rgba(252, 127, 9, 0.2);
  border-radius: 3rem;
}

.swiper {
  padding-bottom: 3rem;
  width: 100%;
}

.client__card {
  text-align: center;
}

.client__card p {
  margin-bottom: 2rem;
  color: var(--text-dark);
  line-height: 1.75rem;
}

.client__card img {
  margin-bottom: 1rem;
  max-width: 70px;
  margin-inline: auto;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.client__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.client__card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  margin-top: 3rem;
  background: var(--primary-color);
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
}

footer{
  background-color: var(--primary-color-light);
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: var(--text-light);
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  background-color: var(--primary-color-dark);
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color: var(--primary-color-dark);
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
 .f_bottom{
  color: var(--primary-color-dark);
  text-align: center;
  padding: 20px;
  
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}

@media (width > 540px) {
  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    color: var(--primary-color);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__btn {
    display: flex;
    flex: 1;
  }

  .nav__btn .btn {
    padding: 8px 10px;
    font-size: 1.5rem;
    border-radius: 100%;
  }

  .header__container {
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }

  .header__content h1,
  .header__content .section__description,
  .header__btn {
    text-align: left;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .recipies__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .explore__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .explore__content .section__header {
    max-width: 500px;
  }

  .explore__content :is(.section__header, .section__description),
  .explore__btn {
    text-align: left;
  }

  .banner__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .chef__bg {
    max-width: 300px;
  }

  .chef__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .chef__image {
    grid-area: 1/2/2/3;
  }

  .chef__content :is(.section__header) {
    text-align: left;
    color: var(--primary-color);
  }
  .chef__content :is(.section__description){
    text-align: left;
  }

  .chef__list li {
    justify-content: flex-start;
  }

  .client__swiper {
    padding: 3rem 2rem;
  }
}

@media (width > 1024px) {
  .recipies__grid {
    gap: 2rem;
  }

  .recipies__card {
    padding: 2rem;
    border-radius: 3rem;
  }

  .banner__container {
    gap: 2rem;
  }

  .chef__bg {
    max-width: 375px;
  }
}

/*Get started button*/
button {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

/*another Try this button*/

.buttonn {
  padding: 15px 20px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  z-index: 1;
}

.buttonn::after,
.buttonn::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.buttonn::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.buttonn::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

.buttonn:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.buttonn:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.buttonn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/*Explore moree*/


/*slider*/
.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: var(--primary-color-light);
  box-shadow: 0px 14px 80px rgba(104, 111, 201, 0.651);
  padding: 25px;
  border-radius: 25px;
  transition: all 0.3s;
  height: 400px;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
  }
}

@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    margin: 180px auto;
  }

  .blog-slider__item {
    flex-direction: column;
  }

  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }

  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }

  .blog-slider__content {
    padding: 0;
  }

  .blog-slider__button {
    width: 100%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }

  .blog-slider__img {
    height: 270px;
  }
}

.blog-slider__item {
  display: flex;
  align-items: center;
}

.blog-slider__img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  transform: translateX(-60px); 
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  transition: all 0.3s;
  opacity: 0;
}

.blog-slider__content {
  padding-right: 25px;
  opacity: 0.5;
}

.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__img img,
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  transition-delay: calc(0.1s * var(--i));
}

.blog-slider__code {
  color: #7b7b85;
  margin-bottom: 15px;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #b0a8e2;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: var(--text-dark);
  margin-bottom: 30px;
  line-height: 1.5em;
}

.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  width: 100%;
  left: 0;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px; /* Ensure pagination is on the right */
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 40%; /* Move it up by reducing the percentage */
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 40%; /* Move it up by reducing the percentage */
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}
