{% extends 'job_platform/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <header class="masthead d-flex">
    <div class="container card-alignment">
        {% if messages %}
        {% for message in messages %}
        <div class="d-flex justify-content-center align-items-center">
          <div class="toast" id="toast-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header" id="toast-{{ message.tags }}">
              <img src="{% static 'job_platform/images/logoo.png' %}" width="25px" height="25px" />
              <strong class="mr-auto d-inline-block align-middle mr-auto">{{ messagesheader }}</strong>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              {{ message }}
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="content-section">
                    <div class="card">
                        <div class="card-header card-header-dark text-center">
                          <div class="container">
                            <div class="row">
                              <div class="container">
                                <img src="{% static 'job_platform/images/logoo.png'%}" class="d-inline-block align-middle" width="50px" height="50px">
                              </div>
                            </div>
                            <div class="row">
                              <div class="container">
                                  Join the BhanchaGhar!
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{ regform|crispy }}
                                <div class="form-group text-center">
                                    <small class="text-muted">By clicking Join now, you agree to the BhanchaGhar User Agreement, Privacy Policy, and Cookie Policy. (Theres Nothing)</small>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-outline-dark btn-block form-control" name="signupbtn" type="submit">Join Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>

        <!-- Footer -->

{% endblock %}