@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

:root{
	--pink: #8d7bdd;
	--pink-light: #f9e9ed;
}
body{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.section-title{
	width: 100%;
	padding:0 15px;
	text-align: center;
	margin-bottom: 60px;
}
.section-title h2{
	font-size: 35px;
	text-transform: capitalize;
	color: #222222;
	font-weight: 700;
}
.section-title h2 span{
	color: var(--pink);
}
.row{
	display: flex;
	flex-wrap: wrap;
}
img{
	max-width: 100%;
	vertical-align: middle;
}
/*team section*/
.team{
	background-color: var(--pink-light);
	min-height: 100vh;
	padding: 80px 0;
}
.team-item{
	width: calc((100% / 3) - 30px);
	margin:0 15px 30px;
	position: relative;
    transition: box-shadow 0.5s ease;	
}
.team-item:hover{
   box-shadow: 0 0 15px #b7a6ce;
}
.team-item img{
	width: calc(100% - 60px);
	position: relative;
	z-index: 1;
	transition: transform 0.5s ease;
}
.team-item:hover img{
   transform: translateX(60px);
}
.team-item h3{
	position: absolute;
	background-color: var(--pink-light);
	right: 0;
	bottom: 15px;
	padding: 2px 10px;
	border-radius: 4px;
	color: #222222;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	z-index: 2;
	transition: right 0.5s ease;
	margin-left: 75px;
}
.team-item:hover h3{
	right: 15px;
}
.team-item h3 span{
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: #555555;
}
.team-item .social-links{
	position: absolute;
	left:0;
	top:0;
	width: 60px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	transform: translateX(100%);
	opacity: 0;
	transition: all 0.5s ease;
}
.team-item:hover .social-links{
	transform: translateX(0%);
	opacity: 1;
}
.team-item .social-links a{
	display: block;
	height: 35px;
	width: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #777777;
	border:1px solid #777777;
	border-radius: 50%;
	margin:3px 0;
	text-align: center;
	transition: all 0.5s ease;
}
.team-item .social-links a:hover{
	color: var(--pink);
	border-color: var(--pink);
}

/*responsive*/
@media(max-width: 991px){
   .team-item{
   	width: calc(50% - 30px);
   }
}
@media(max-width: 575px){
   .team-item{
   	width: calc(100% - 30px);
   }	
}
