{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | BhanchaGhar</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="form-container">
        <div class="col col-1">
            <div class="image-layer">
                <img src="{% static 'images/siginin.png' %}" class="form-image-main">
            </div>
            <p class="featured-words">You're Just Minutes Away From Boosting Your Cooking Skills With 
                <button class="button" data-text="Awesome">
                    <span class="actual-text">&nbsp;BhanchaGhar&nbsp;</span>
                    <span aria-hidden="true" class="hover-text" onclick="window.location.href='/'">&nbsp;BhanchaGhar&nbsp;</span>
                </button>
            </p>
        </div>
        <div class="col col-2">
            <div class="btn-box">
                <button class="btn btn-1" id="login">BhanchaGhar<hr>Welcome Back User</button>
            </div>
            <!-- Login form -->
            <div class="login-form">
                <div class="form-title">
                    <span>Sign In</span>
                </div>
                <div class="form-inputs">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-box">
                            {{ form.username }}
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="input-box">
                            {{ form.password }}
                            <i class="bx bx-lock-alt icon"></i>
                        </div><br>
                        <div class="forgot-pass">
                            <a href="{% url 'users-register' %}">New Here?</a>
                            <a href="{% url 'password_reset' %}">Forgot Password?</a>
                        </div>
                        <div class="input-box">
                            <button class="input-submit" name="login">
                                <span>Sign In</span>
                                <i class="bx bx-right-arrow-alt"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/sign in.js' %}"></script>
</body>
</html>
