{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | BhanchaGhar</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="form-container">
    <div class="col-1">
        <div class="image-layer">
            <img src="{% static 'images/siginin.png' %}" class="form-image-main">
        </div>
        <p class="featured-words">You're Just Minutes Away From Boosting Your Cooking Skills With 
            <button class="button" data-text="Awesome">
                <span class="actual-text">&nbsp;BhanchaGhar&nbsp;</span>
                <span aria-hidden="true" class="hover-text" onclick="window.location.href='/'">&nbsp;BhanchaGhar&nbsp;</span>
            </button>
        </p>
    </div>
    <div class="col-2">
      <form method="POST" class="login-form">
        {% csrf_token %}
        <div class="form-title">Login</div>
        <div class="form-inputs">
          <div class="input-box">
            <input type="email" id="email" name="email" class="input-field" placeholder="Email" required />
          </div>
          <div class="input-box">
            <input type="password" id="password" name="password" class="input-field" placeholder="Password" required />
          </div>
          <div class="forgot-pass">
            <a href="#">Forgot Password?</a>
          </div>
          <div class="input-box">
            <button type="submit" class="input-submit">Login</button>
          </div>
        </div>
        
        <div class="btn-box">
          <a href="{% url 'selectregister' %}" class="btn btn-1">Create a new account</a>
        </div>
        <div class="btn-box">
          <a href="{% url 'home' %}" class="btn">Home</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
