{% extends 'layout.html' %} {% load static %} {% block main_content %}
<link rel="stylesheet" href="{% static 'css/Product.css' %}" />
<main>
  <div class="search-filter">
    <form method="GET" action="{% url 'show_product' %}">
      <input type="text" name="q" placeholder="Search for rooms..." />
      
      <button type="submit">Search</button>
      {% if userprofile.accountType == 'broker' %}
      <a href="" class="btn btn-primary">Add Product</a>
      {% endif %}
    </form>
  </div>

  <div class="room-listings">
    {% for room in rooms %}
    <div class="room-card">
        <img src="/{{room.img}}" alt="Room Image" width="170px" />
        <div class="room-info">
          <h3>{{ room.title }}</h3>
          <p id="loc">Location: {{ room.location }}</p>
          <p id="pricee">{{ room.price }}</p>
          <a href="{% url 'product_detail' room.id %}" class="button">View Now</a>
        </div>
    </div>
    {% endfor %}
  </div>
</main>

<script></script>

{% endblock %}
