{% extends 'layout.html' %} {% load static %} {% block main_content %}
<link rel="stylesheet" href="{% static 'css/Product.css' %}" />
<main>
  <div class="search-filter">
    <form method="GET" action="{% url 'show_productBroker' %}">
      <input type="text" name="q" placeholder="Search for rooms..." />
      <select name="category">
        <option value="">All Categories</option>
        {% for category in categories %}
        <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
      </select>
      <button type="submit">Search</button>
    </form>
    <a href="{% url 'AddProduct' %}"><button>Add Rooms</button></a>
    <a href="{% url 'MyProduct' %}"><button>My Rooms</button></a>
  </div>

  <div class="room-listings">
    {% for room in rooms %}
    <div class="room-card">
        <img src="/{{room.img}}" alt="Room Image" width="170px" />
        <div class="room-info">
          <h3>{{ room.title }}</h3>
          <p id="loc">Location: {{ room.location }}</p>
          <p id="pricee">{{ room.price }}</p>
          <a href="{% url 'product_detail' room.id %}" class="button">View Now</a>
        </div>
    </div>
    {% endfor %}
  </div>
</main>

<script></script>

{% endblock %}
