{% extends 'layout.html' %}
{% load static %}

{% block main_content %}
<link rel="stylesheet" href="{% static 'css/Product.css' %}" />
<div class="main1">
  <div class="product-detail">
    <h2>{{ room.title }}</h2>
    <img src="/{{ room.img }}" alt="Room Image" width="300px" style="    border: 4px solid;
    background: gray;
    padding: 4px;" />
    <p><strong>Location:</strong> {{ room.location }}</p>
    <p><strong>Price:</strong> {{ room.price }}</p>
    <p><strong>Description:</strong> {{ room.description }}</p>
    <a href="#" class="button">Buy Now</a> <!-- Adjust this button/link as needed -->
  </div>
</div>

<script></script>

{% endblock %}